.quadrado {
    height: 100px;
    width: 100px;
    background-color: blue;
}

div:last-child {
    background-color: red;
}

.nova-cor {
    background-color: yellow;
}

.quadrado.preto {
    background-color: black;
}

.quadrado.azul{
    background-color: blue;
}